body {
  background-image: url(Background-modern.png);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);

    border-style: solid;
    border-radius: 40px;
    padding: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.16));
    color: #ffffff;
    border-color: rgba(255, 255, 255, 0.265);
}

/* ====== Top bar buttons ====== */
#Confirm-Btn {
  padding: 10px 20px;
  background-color: #5858ff;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#codeDisplay {
  background: #ffffff1c;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    transition: background 0.2s;
    
    border-style: groove;
    border-color: #6666ff #b8baff #c9e8ff #b8baff;
}


.top-bar {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar button {
    background: #ffffff1c;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    transition: background 0.2s;
    
    border-style: groove;
    border-color: #6666ff #b8baff #c9e8ff #b8baff;
}
/* højre side */
.right {
    display: flex;
    gap: 10px;
}

#participantsButton:hover, .round-btn:hover {
    background: #ffffff34;
    border-radius: 12px;
}

.codeDisplay {
    background: #ffffff1c;
    font-size: 16px;
    padding: 0px 12px;
    border-radius: 12px;
    cursor:copy;
    color: white;
    border-width: 2px;
    border-style: groove;
    border-color: #6666ff #b8baff #c9e8ff #b8baff;
}

/* ====== Vinyl ====== */
.vinyl {
    margin: 40px auto;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: radial-gradient(circle, #252525 0%, #0d0d0d 60%, #000 100%);
    position: relative;
    overflow: hidden;
    top: 140px;

    box-shadow: 
        2px 2px 20px #363857,
        -2px -2px 20px #363857;
}

.vinyl::before {
  content: ""; /* Dette gør det muligt at style med position osv pseudo-element*/
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-image: repeating-radial-gradient(
    circle,
    transparent 0px,
    transparent 2px,
    rgba(255,255,255,0.05) 3px
  );
  opacity: 0.80;
}

.vinyl::after {
    content: "";
    width: 120px;
    height: 120px;
    background: #6666ff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px #8f53ff55;
}

/* --- Song info på toppen af vinylen --- */
.song-info {
    position: absolute;
    top: 20px;                /* afstand fra toppen af vinylen */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 20;
}

/* ====== Player container ====== */
.player-container {
    position: relative;
    width: 600px;
    padding: 75px;
    margin: 0 auto;
    background: #1e2130;
    border-radius: 22px;
    z-index: 10;
    top: -110px;

    display: flex;
    flex-direction: column;

    background:
        linear-gradient(
            180deg,
            #1b1d33,
            #0c0c16
        );

    border-radius: 26px;

    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.6),
        inset 0 1px 0 rgba(201, 232, 255, 0.08);

    z-index: 20;

    overflow: visible;
}
/* --- knapper i containeren --- */

.controls {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.playPauseBtn, .skipBtn {
  background-color: #25252500;
  cursor: pointer;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0);
  color: white;
  margin-top: 45px;
  font-size: x-large;
  margin-bottom: 8px;
  font-style: bold;
  border-radius: 15px;

  width: 45px;
  height: 55px;
}

.playPauseBtn:hover, .skipBtn:hover {
  background-color: #b8baff;
}

.participantsList {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
}

.colorModal {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.Close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.Close:hover,
.Close:focus {
  color: black;
}


/*Song Request*/
.RequestModal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

/* Modal indhold */
.modal-content {
  position: relative; 
  background-color: white;
  margin: 15% auto; /* centrer modal på skærmen */
  padding: 20px;
  border-radius: 10px;
  width: 300px; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Timer i øverste højre hjørne */
.timer {
  position: absolute; /* placeres inde i modal */
  top: 10px;
  right: 10px;
  font-size: 22px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 8px 14px;
  border-radius: 10px;
  display: none; /* vises først når modal åbnes */
  z-index: 9999;
}

/* Like og Trash knapper */
.like,
.trash {
  font-size: 18px;
  margin: 10px 5px 0 0;
  cursor: pointer;
  background: none;
  border: none;
}

.like i {
  color: red;
}

.trash i {
  color: #555;
}

/*Add Song Modal*/
.NewSongModal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Lobster Two", cursive;
}

.SongModal {
  position: relative;
  background-color: #9292fe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.Exit {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

#AddBtn {
  position: fixed;
  bottom: 20px;
  left: 50%; 
  transform: translateX(-50%); 
  padding: 14px 28px;
  background-color: #6666ff;
  color: black;
  border-radius: 16px;
  text-align: center;
  z-index: 600;
}


/*Samlet information om artist og title*/
#songInfo {
  text-align: center;   
  width: 100%;          
  display: flex;
  flex-direction: column;
  align-items: center;  /* centrér elementerne */
}

#songTitle {
  font-weight: bold; /* gør titel fed */
  font-size: 30px; /* juster størrelsen efter behov */
  color: #fff;
  text-shadow: 
    0px 0px 30px #6666ff;
}

#songArtist {
  font-size: 15px; /* lidt mindre end titel */
  color: #fff; /* valgfri farve, lidt grå for kontrast */
  text-shadow: 
    0px 0px 30px #6666ff;;
}

/*Selve baren*/
.progressContainer {
  position: relative;  /* nødvendig for absolut placering af timeDisplay */
  width: 100%;
  max-width: 80%;
  margin: 0 auto;      
  background-color: #ddd;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 9999;
}

/*Indholdet inde i baren*/
#myBar {
  width: 0%;
  height: 100%;
  background-color: #6666ff;
  border-radius: 10px;
  transition: width 0.4s ease;
}

#timeDisplay {
  position: absolute;         
  top: 50%;                   
  left: 0;
  width: 100%;
  transform: translateY(-50%); /* centrer vertikalt */
  display: flex;
  justify-content: space-between; 
  padding: 0 10px;               
  font-size: 12px;
  font-weight: bold;
  color: #000;                   
  box-sizing: border-box; 
}


/* Queue funktion*/
#QueueTable {
  display: none;
}