body {
    background-color: #be63c7;
}

.leaveJamButton button {
    width: 60px;         /* Gør knappen lige høj og bred */
    height: 60px;
    border-radius: 50%;  /* Gør den rund */
    border: none;        /* Fjern kant (valgfrit) */
    cursor: pointer;     /* Vis klik-hånd */
}

.QueueTable {         
    border: 1px solid black;
}

.request-song-btn {
    position: fixed;
    bottom: 20px;      /* afstand fra bund */
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    background-color: #4CAF50; /* grøn – kan ændres */
    color: white;
    border: none;
    border-radius: 30px; /* afrundet rektangel */
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    z-index: 9999;      /* ligger OVER alt andet */
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.request-song-btn:hover {
    background-color: #45a049;
}
/* Runde knapper øverst til højre */
.round-btn {
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
}

.round-btn:hover {
    background: #555;
}

.leave {
    background: #b80000;
}