/* --- BACKGROUND AND CONFETTI LAYERS --- */
body {
    background-image: url(logo2.webp);
    background-size: cover;
}

.confetti-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("confetti-holiday-cheer.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;  /* Gør confetti "gennemklikbar" */
}

h1, .winner-cards, .frontpage-buttons {
    position: relative;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 0px #ffffff;
}

/* --- PODIUM DISPLAY --- */
.winners {
    display: flex;
    padding: 20px;
    margin-bottom: 0;
    gap: 20px;
    margin-top: 50px;
}


.first, .second, .third {
    background-color: rgb(52, 52, 42);
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    padding-bottom: 90px;
    box-shadow: 0px 0px 20px #0f0f0f;
}
.first {
    background-color: #ffcf3d; /* Guld */
    order: 2;
}


.second {
    background-color: #C0C0C0; /* Sølv */
    order: 1;
    margin-left: 20%;
    margin-top: 50px;
}


.third {
    background-color: #CD7F32; /* Bronze */
    order: 3;
    margin-top: 100px;
}


.trophy, .silver, .bronze {
    padding: 20px;
    font-size: 50px;
}


/* --- "Start nyt Jam" KNAPPER KODE --- */
.buttons-box {
    background-color: #E86100; /* Lys grå baggrund */
    border: 2px solid #FFE5B4; /* Grå kant rundt om hele boksen */
    border-radius: 15px; /* Runde hjørner på den store boks */
    padding: 15px; /* Luft inde i den store boks */
    margin: 50px auto; /* Plads over/under og centrerer boksen */
    max-width: 600px; /* Maksimal bredde på boksen */
    display: flex; /* Placerer knapperne ved siden af hinanden */
    justify-content: space-between; /* Fordeler knapperne med space imellem*/
    gap: 10px; /* Lille mellemrum mellem knapperne */
    margin-top: 40px;
}

/* Styling af de tre knapper inde i boksen */
.buttons-box button {
    background-color: #FFE5B4; /* Hvid baggrund */
    border: 2px solid #cf5700; /* Mørk grå kant */
    padding: 15px 25px; /* Luft inde i knappen */
    font-size: 1em; /* Normal tekststørrelse */
    border-radius: 10px; /* Runde hjørner */
    cursor: pointer; /* Hånd-ikon når man hover */
    color: black; /* Sort tekst */
    font-weight: 500; /* Lidt fed skrift */
    flex: 1; /* Alle knapper får samme bredde */
}