/* ---Baggrund med tekst og konfetti--- */
body {
    background-image: url("blue.png");
    background-size: cover;
}

.confetti-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("confetti-holiday-cheer.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;  /* Gør confetti "gennemklikbar" */
}

h1, .winner-cards, .frontpage-buttons {
    position: relative;
}

h1 {
    text-align: center;
    color: #f8f8fc;
    text-shadow: 2px 2px 0px #b8baff;
}

.song-count {
    margin-top: 50px;
    margin-bottom: 0;
}


/* --- PODIUM DISPLAY --- */
.winners {
    display: flex;
    padding: 20px;
    margin-bottom: 0;
    gap: 20px;
    margin-top: 50px;
}
.first p:first-child,
.second p:first-child,
.third p:first-child {
    position:absolute;
    top: -60px; /*Juster denne værdi for at flytte teksetn op/ned*/
    left: 0;
    right: 0;
    font-weight: bold;
    font-size: 25px;
    color: white;
}


.first, .second, .third {
    background-color: rgb(52, 52, 42);
    padding: 40px 20px;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    padding-bottom: 90px;
    box-shadow: 0px 0px 20px #0f0f0f;
    position: relative;
}
.first {
    background-color: #6666ff; 
    order: 2;
    margin-top: 50px;
    border-width: 3px;
    border-style: dotted;
    border-color: #b8baff;
}

.second {
    background-color: #6666ff; 
    order: 1;
    margin-left: 25.5%;
    margin-top: 100px;
    border-width: 3px;
    border-style: dotted;
    border-color: #b8baff;
}


.third {
    background-color: #6666ff; 
    order: 3;
    margin-top: 150px;
    border-width: 3px;
    border-style: dotted;
    border-color: #b8baff;
}


.trophy, .silver, .bronze {
    padding: 20px;
    font-size: 50px;
}

/* --- MEDAL BILLEDER OVER BOKSEN --- */
.podium-image {
    position: absolute;
    top: -61.5px; /* Større negativ værdi = højere op*/
    left: 50%;
    transform: translateX(-50%); /* Flyt 50 pixels til venstre*/
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}


/* --- "Start nyt Jam" KNAPPER KODE --- */
.buttons-box {
    background-color:#6666ff; 
    border: 2px solid #b8baff; 
    border-radius: 15px; 
    padding: 15px; 
    margin: 50px auto; 
    max-width: 600px; 
    display: flex; 
    justify-content: space-between; 
    gap: 10px; 
    margin-top: 30px;
    margin-left: 323px;
}

/* Styling af de tre knapper inde i boksen */
.buttons-box button {
    background-color: #c9e8ff; 
    border: 2px solid #b8baff; 
    padding: 15px 25px; 
    font-size: 16px; 
    border-radius: 10px; 
    cursor: pointer; 
    color: black; 
    font-weight: 500; 
    flex: 1; 
}

/* --- POPUP MENU TIL SHARE KNAP --- */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(123, 121, 121, 0.377);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup.active {
    display: flex;
}

.popup-box {
    background:#6666ff;
    padding: 30px;
    border-radius: 15px;
    max-width: 500px;
    width: 90%;
    position: relative;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}

.close-popup:hover {
    color: #ff0000;
}

.popup-box h2 {
    margin-top: 0;
    color: #000000;
}

.popup-box p {
    color: #000000;
}

/* --- POPUP IKONER --- */

.facebook, .twitter, .messenger, .discord, .instagram {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.more {
    width: 50px;
    height: 50px;
    margin-left: 130px;
}

.facebook, .twitter, .messenger, .discord, .instagram, .more:hover {
    cursor: pointer;
}
