.winners {
    display: flex;
    gap: 20px;
    padding: 20px;
    background: #f0f0f0;
}

.first, .second, .third {
    background-color: rgb(52, 52, 42);
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
    flex: 1;
}
.first {
    background-color: #FFD700; /* Guld */
}

.second {
    background-color: #C0C0C0; /* Sølv */
}

.third {
    background-color: #CD7F32; /* Bronze */
}

.profil-billede {
    width: 80px;
    height: 80px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Podium {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.trophy, .silver, .bronze {
    padding: 20px;
    font-size: 50px;
}

/* --- "Start nyt Jam" KNAPPEN KODE --- */
.start-nyt-jam {
    text-align: center; /* Centerer knappen*/
    margin-top: 50px; /* Plads mellem knap og overstående elementer*/
    display: flex; /* Bruges til at centrere*/
    justify-content: center; /* Centrerer horisontalt*/
}

.start-nyt-jam button {
    background-color: #0066CC;
    border: none;
    padding: 25px 60px; /* Mere luft = større knap*/
    font-size: large;
    border-radius: 15px;
    cursor: pointer; /* Hånd ikonet når man hover med mussen*/
    color: white; /* Hvid tekst*/
    font-weight: bold; /* Fed skrift*/
    width: 80%; /* Tager 80% af skærmens bredde*/
    max-width: 1000px; /* Max bredde så den ikke bliver for stor*/
}