
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;   /* centrerer horisontalt */
    align-items: center;       /* centrerer vertikalt */
    background: #f1f1f1;       /* bare midlertidig baggrund */
    font-family: Arial, sans-serif;
    padding: 20px;
}

/*Så elementerne står under hinanden i stedet for ved siden af hinanden*/
.container {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 24px;
    padding: 60px 40px 40px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    position: relative;
}

.close-btn {
  position: absolute;       /* gør det muligt at placere knappen inde i boksen */
  top: 16;
  right: 16;
  width: 36;
  height: 36;
  background: transparent;
  border: none;
  border-radius:8px;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.close-btn:hover {
  background: #ff1c1c;
  transform: scale(1.05);
}



/* Selve boksen */
.center-box {
    position: relative;
    background: #284fd2;        /* box baggrund – kan ændres */
    padding: 40px;
    width: 90%;
    max-width: 450px;           /* hvor bred boksen må blive */
    border-radius: 25px;        /* bløde runde hjørner */
    box-shadow: 0 4px 18px rgba(226, 7, 7, 0.1);
    display: flex;
    flex-direction: column;
    gap: 25px;                  /* luft mellem elementerne */
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2rem;
  }


label {
    display: block;
    text-align: left;
    font-weight: bold;
}


input,
  button {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border-radius: 15px;
    box-sizing: border-box;
  }

  input {
    border: 1px solid #ccc;
  }

  button {
    border: none;
    background: #9eadc4; /* Blå Facebook-lignende farve */
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
  }

button:hover {
    opacity: 0.9;
}

label {
    display: block;
    text-align: left;
    font-weight: bold;
}
