body {
    background-image: url("background.gif");
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 10%;
    font-family: 'Lobster Two', cursive;
    color: black;
    text-shadow: 
        3px 3px 0px white,
        6px 6px 0px #FFE5B4,
        8px 8px 0px #E86100; /* offsetX, offsetY, blur-radius color*/
}

p {
    text-align: center;
    font-size: 24px;
}

/* --- Frontpage buttons --- */
.frontpage-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.frontpage-buttons a {
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px 25px;
    width: 300px;
    font-size: 25px;
    text-decoration: none;
    color:black;
    display: block;
}

#create-btn {
    background-color: #E86100;
}

#join-btn {
    background-color: #FFE5B4;
}

#create-btn:hover {
    box-shadow: 0px 0px 20px #FFE5B4;  /* x y blur farve / Box shadow kræver flere værdier, ikke kun en farve */
}

#join-btn:hover {  
    box-shadow: 
        2px 2px 0px #E86100; /* offsetX, offsetY, blur-radius color*/
}
