body {
    background-image: url(Background-modern.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-size: 100px;
    font-family: 'Lobster Two', cursive;
    color: #0c0c16;
    text-shadow: 
        3px 3px 0px #c9e8ff,
        6px 6px 0px #b8baff,
        8px 8px 0px #6666ff, /* offsetX, offsetY, blur-radius color*/
        0px 0px 50px #c9e8ff;
}

p {
    text-align: center;
    font-size: 24px;
    color: #6666ff;
    text-shadow: 
        0px 0px 12px #c9e8ff;
}

/* --- Frontpage buttons --- */
.frontpage-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.frontpage-buttons a {
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px 25px;
    width: 300px;
    font-size: 25px;
    text-decoration: none;
    color:black;
    display: block;
}

#create-btn {
    background-color: #6666ff;
}

#join-btn {
    background-color: #b8baff;
}

#create-btn:hover {
    box-shadow: 0px 0px 20px #c9e8ff;  /* x y blur farve / Box shadow kræver flere værdier, ikke kun en farve */
}

#join-btn:hover {  
    box-shadow: 
        0px 0px 20px #c9e8ff; /* offsetX, offsetY, blur-radius color*/
}
